h1{
    text-align: center;
    font-style: italic;
    font-size: 50px;
    color:antiquewhite;
}

button {
    font-style: oblique;
    font-size: 30px;
    background-color: rgb(218, 111, 72);
    color: white;
}